  body, html {
    font-family: 'Poppins', sans-serif;
    background-color: #1f1f1f;
    color: #f8f7f9;
    line-height: normal;
    margin: 0;
    overflow-x: hidden; 
  }

  .HomePage {
    display: grid;
    grid-template-rows: auto 1fr; 
    min-height: 100vh;
    background: linear-gradient(
      135deg, #1b1b1b 0%, #2e2e2e 50%, #3e3e3e 100%);
  }
  
  .TopContainer {
    position: relative;
    grid-row: 1; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    background-color: #222;
  }
  
  .WebsiteLogo {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  .NavigationBar {
    display: flex;
    gap: 50px;
  }
  
  .NavigationBar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .NavigationBar a.active {
    color: #f6c700; 
  }
  
  .NavigationBar a:hover {
    text-decoration: underline;
  }
  
  .MainContainer {
    grid-row: 2; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 0px 90px;
    gap: 20px;
    align-items: center;
  }

  .Introduction_Text_Container {
    flex: 1;
    text-align: left;
  }
  
  .GreetingContent {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
  }
  
  .Occupation{
    color: #f6c700;
  }
  
  .PreferredName {
    font-size: 64px;
    margin: 10px 0;
    font-weight: bold;
    color: white;
    line-height: 1.2;
  }

  .PreferredName span {
    display: block;
  }
  
  .Welcome_Text_Content {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .ResumeButton {
    background-color: #fcab4a;
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ResumeButton:hover {
    background-color: #5c79eb;
  }
  
  .HeadShotContainer {
    grid-column: 2; 
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr; 
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    width: 600px;
    height: 450px;
    border-radius: 10px;
  }
  
  .HeadShotContainer img {
    grid-row: 1 / span 2; 
    grid-column: 1 / span 2; 
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
    /* filter: blur(4px); */
    position: absolute;
    z-index: 1;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #222;
    color: #cac5c5; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
}

.Footer_Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Footer_Content span {
    font-size: 14px;
}

.Footer_Icons {
    display: flex;
    gap: 15px;
}

.Footer_Icons img {
    width: 24px;
    height: 24px;
}
  

  @media (max-width: 768px) {
    .MainContainer {
      display: flex;
      flex-direction: column; 
      align-items: center;
      padding: 0px 20px;
      margin-top: 40px;
      margin-bottom: 450px;
    }
  
    .Introduction_Text_Container {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
  
    .PreferredName {
      font-size: 36px;
    }
  
    .ResumeButton {
      padding: 10px 20px;
    }
  
    .GreetingContent {
      font-size: 18px;
    }
  
    .Welcome_Text_Content {
      font-size: 16px;
    }
  
    .AboutMeTextContainer h2 {
      font-size: 24px;
    }

    .HeadShotContainer {
      position: relative;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-top: 20px; 
      display: block; 
    }
  
    .HeadShotContainer img {
      width: 100%;
      height: auto;
      display: block; 
    }

    .TopContainer {
      position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 20px 0;
      background-color: #222;
    }
  
    .NavigationBar {
      gap: 20px;
    }
  
    .NavigationBar a {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .TopContainer {
      position: relative;
      bottom: 0;
      padding: 10px 10px;
      width: 100%;
      background-color: #222; 
      z-index: 1000; 
      flex-direction: column;
      align-items: center; 
      justify-content: center;
    }

    .WebsiteLogo {
      font-size: 12px;
      text-align: center;
      margin-left: 5px;
      color: #dab684; 
    }
  
    .NavigationBar {
      gap: 20px;
      justify-content: center;
      display: flex;
      margin-right: 5px;
    }

    .NavigationBar a {
      font-size: 15px;
    }

    .MainContainer {
      display: flex;
      flex-direction: column;
      padding: 10px 10px;
      margin-bottom: 150px;
    }
  
    .Introduction_Text_Container {
      max-width: 100%;
      text-align: center;
      padding: 0;
    }
  
    .GreetingContent {
      font-size: 14px;
      margin-bottom: 80px;
    }
  
    .PreferredName {
      font-size: 24px;
    }
  
    .ResumeButton {
      padding: 8px 16px;
    }
  
    .HeadShotContainer {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
      margin-top: 5px;
      padding-bottom: 20px;
    }

    .HeadShotContainer img {
      width: 100%;
      height: auto;
      display: block;
    }


  }
  
     
  
  
  